body {
  background-color: rgb(242, 242, 242);
  margin: 5vh 5vw;
}

#head {
  display: flex;
  justify-content: space-between;
}

#description {
  grid-column: 1/4;
}

button {
  border: 0;
  background-color: transparent;
}

div {
  background-color: #fff;
  border-top: 2px solid rgb(242, 242, 242);
  display: grid;
  grid-template-columns: 10% 85% 5%;
}

input {
  border: 0;
  margin: 0 2vw;
  padding: 3vh 0;
  color: #000c;
  font-size: 3vw;
}

#clear {
  width: 100%;
  font-size: 3.5vw;
  padding: 3vh 0;
  opacity: 0.6;
  border-top: 4px solid rgb(242, 242, 242);
  background-color: rgb(211 211 211);
}
